{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="my-3 my-md-5">
    <div class="container" style="height: 100%;width: 100%">
        <div class="col-12">
        <div class="x_panel">
              <div class="x_title">
                <h2>权限管理 <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">

                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">id </th>
                        <th class="column-title">用户名 </th>
                        <th class="column-title">权限 </th>
                        <th class="column-title">所属机构 </th>
                        <th class="column-title">备注 </th>
                        <th class="column-title">操作 </th>
                        </th>
                        <th class="bulk-actions" colspan="7">
                          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for application in applications %}
                            <tr class="even pointer" id="{{ application.user.id }}">
                                <td class=" ">{{ application.user.id }}</td>
                                <td class=" ">{{ application.user.username }} </td>
                                <td class=" ">{{ application.apply_permission }}</td>
                                <td class=" ">{{ application.apply_unit }}</td>
                                <td class=" ">{{ application.validation }}</td>
                                <td class="last">
                                    <a href="{% url 'user:permissionAccept' application.user_id %}" >接受</a>
                                    <a href="{% url 'user:permissionReject' application.user_id %}" >拒绝</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for superuser in superusers %}

                            <tr class="superuser" id="{{ superuser.id }}">
                                <td>{{ superuser.id }}</td>
                                <td>{{ superuser.username }}</td>
                                <td>超级管理员</td>
                                <td>无</td>
                                <td>无</td>
                                <td>不能进行操作</td>
                            </tr>
                        {% endfor %}
                        {% for dispose_profile in dispose_profiles %}
                            <tr class="disposer" id="{{ dispose_profile.user.id }}">
                                <td>{{ dispose_profile.user.id }}</td>
                                <td>{{ dispose_profile.user.username }}</td>
                                <td>处理员</td>
                                <td>{{ dispose_profile.unit }}</td>
                                <td>无</td>
                                <td><a href="{% url 'user:permissionDelete' dispose_profile.user_id %}">撤除</a></td>
                            </tr>
                        {% endfor %}
                        {% for post_profile in post_profiles %}
                            <tr class="disposer" id="{{ post_profile.user.id }}">
                                <td>{{ post_profile.user.id }}</td>
                                <td>{{ post_profile.user.username }}</td>
                                <td>上传员</td>
                                <td>{{ post_profile.unit }}</td>
                                <td>无</td>
                                <td><a href="{% url 'user:permissionDelete' post_profile.user_id %}">撤除</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>


              </div>
        </div>

        </div>
    </div>
</div>
{% endblock content %}
